.gridfootredes{
    display: inline-block;
}
  .gridfoot {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(127, 118, 105);
    margin-top: 2em;
    font-size: 1.5rem;
  }
  .gridfoot a {
    
    text-decoration: none;
    display: flex;
    color: black;
    align-items: center;
    
  }
  
  .gridfoot .redes {
    grid-column-start: 1;display:flex;
    align-items:center;
    padding-left: 2rem;
  }
  .gridfoot .derechos {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5em;
  }
  .gridfoot .subir {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    justify-content: right;
    padding-right: 0.5em;
    padding-top: 0.5em;
  }
  .gridfoot .subir .flechita {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid black;
    animation-name: paraarriba;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }

  .icon {
    max-width: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem;
    margin-left: 0;
    border-radius: 0.5rem;
  }
  

  @keyframes paraarriba {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0px, 5px);
    }
    100% {
      transform: translate(0, 0);
    }
  }